@media screen and (min-width: 370px)  { 
    body {
        background-color: rgb(70, 61, 50);
    }
    
    h1 {
        color: rgb(172, 140, 104);
    }
    
    #one {
        display: none;
        flex-direction: row;
        justify-content: center;
        width: 400px;
        height: 400px;
        background-color: rgb(176, 224, 224);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        
    }

    #ButtonsOrganized {
        display: flex;
        justify-content: space-between;
    }

    #Button {
        width: 100px;
        height: 70px;
        background-color: rgb(66, 66, 167);
        font-size: 35px;
        color: darkgoldenrod;
    }

    #Button2 {
        width: 100px;
        height: 70px;
        background-color: rgb(66, 66, 167);
        font-size: 35px;
        color: darkgoldenrod;
    }
    
    #ButtonStart {
        width: 100px;
        height: 70px;
        background-color: rgb(66, 66, 167);
        font-size: 35px;
        color: darkgoldenrod;
    }

    #Button:hover {
        cursor: pointer;
    }

    #Button2:hover {
        cursor: pointer;
    }

    #ButtonStart:hover {
        cursor: pointer;
    }

    #personagem { 
        background-image: url("");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .filmes {
        width: 400px;
        height: 400px;
    }
    .movieImg {
        width: 400px;
        height: 400px;
    }
    .heroImg {
        width: 400px;
        height: 400px;
    }

}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(29, 29, 44);
    }
}
